<div>    
    <p class="container bg-primary my-3 p-3 text-center">
        <strong class="text-white" style="font-size:large">New Project</strong>
    </p>

    <%= render 'form', project: @project %>

    <div class="container">
        <a class="btn btn-primary text-white"<%= link_to 'Back', projects_path %></a>
    </div>
</div>